nameOverride: ""
fullnameOverride: "quiz-frontend"

image:
  repository: liavvv/quiz-app-front
  tag: "v2.0.6"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 150m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

# Probes
probes:
  enabled: true

  liveness:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 20
    periodSeconds: 10

  readiness:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 5
    periodSeconds: 5

# Service account
serviceAccount:
  create: true
  name: ""
