# --- central chart dependencies and deployment configurations --- #
#
# openebs: must install a storage driver for provisioning volumes
# since kubeadm does not provide one by default
repositories:
  - name: openebs
    url: https://openebs.github.io/openebs

# global values for all charts
helmDefaults:
  createNamespace: true
  # wait for each release to complete before continuing
  wait: true
  
# global labels for all charts
commonLabels:
  projectName: Quizlabs
  maintainers: Liav

# --- all releases for quizlabs --- #
releases:
  # deploy envoy gateway controller and crd's
  - name: envoy-gateway
    namespace: envoy-gateway-system
    chart: oci://docker.io/envoyproxy/gateway-helm

  # deploy envoy gateway cr's after controller is created
  - name: platform
    # when renaming this namespace, the cloudflare ingress URL 
    # and ReferenceGrant namespaces need to match.
    namespace: platform
    chart: ./platform
    values: 
      - ./platform/values.yaml
    needs:
      - envoy-gateway-system/envoy-gateway
    
  # deploy cloudflare tunnel 
  - name: cloudflare-tunnel
    namespace: cloudflare
    chart: ./cloudflare
    values: 
      - ./cloudflare/values.yaml
    # helmfile uses the helm-secrets plugin to decrypt them at 
    # deply time using the private key on the machine 
    secrets:
      - ./cloudflare/secrets.yaml
    needs:
      - envoy-gateway-system/envoy-gateway  

  # storage driver for stateful
  - name: openebs
    namespace: openebs
    chart: openebs/openebs
    values:
      - ./vendor/openebs-values.yaml

  # stateful setup (mongo + redis)
  - name: mongodb
    namespace: mongodb
    chart: ./stateful/mongodb
    values: 
      - ./stateful/mongodb/values.yaml
    secrets:
      - ./stateful/mongodb/secrets.yaml
    needs: 
      - openebs/openebs

  - name: mongodb-init
    namespace: mongodb
    chart: ./stateful/mongodb-init
    values: 
      - ./stateful/mongodb-init/values.yaml
    needs: 
      - mongodb/mongodb

  - name: redis
    namespace: redis
    chart: ./stateful/redis
    values: 
      - ./stateful/redis/values.yaml
    needs: 
      - openebs/openebs

  # quizlabs backend workloads, depends on stateful releases
  - name: quiz-backend
    namespace: quiz-backend
    chart: ./workloads/quiz-backend
    values: 
      - ./workloads/quiz-backend/values.yaml
    secrets:
      - ./workloads/quiz-backend/secrets.yaml
    needs: 
      - mongodb/mongodb
      - mongodb/mongodb-init
      - redis/redis
  
  - name: quiz-multiplayer
    namespace: quiz-multiplayer
    chart: ./workloads/quiz-multiplayer
    values: 
      - ./workloads/quiz-multiplayer/values.yaml
    secrets:
      - ./workloads/quiz-multiplayer/secrets.yaml
    needs: 
      - mongodb/mongodb
      - mongodb/mongodb-init
      - redis/redis
  
  # quizlabs frontend workloads, depends on backend releases
  - name: quiz-frontend
    namespace: quiz-frontend
    chart: ./workloads/quiz-frontend
    values: 
      - ./workloads/quiz-frontend/values.yaml
    needs: 
      - quiz-backend/quiz-backend
      - quiz-multiplayer/quiz-multiplayer